@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Students</h1>
    <div class="col-lg-4 col-md-4 col-sm-12" style="border: 2px solid black; border-radius:4px; background-color:#dadada ">
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Courses">Courses</a>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Students">Students</a>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="EnrolledIns">Enrolled Ins</a>
    </div>
</div>
